/*Imagenes*/
.logo{
    height: 100px;
    margin-right: 20px;
    border-radius: 50px;
    margin-left: 25px;
}
.bloque_img{
    width: 100px;
    height: 150px;
    display: flex;
    margin: 50px auto;
}
.casa{
    width: 650px;
    height: 450px;
    display: flex;
    margin: 50px auto;
    box-shadow: #3f3e3e 14px 18px 18px;
}
/*texto*/
body{
    background-image: url("img/fondo.jpg");;
}
.banner{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("img/fondo.jpg");
    background-position: -8px -2px;
}
.titulo{
    width: 115;
    height: 60px;
    margin-right: 30px;
    background-color: #f3f5f8;
    display: flex;
    align-items: center;
    justify-content: right;
}
.titulo h1{
    font-size: 35px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: rgb(18, 178, 231);
    text-shadow: gray 4px 8px 6px;
}
H2{
    text-decoration: underline;
}
hr{
    border: 2px solid black;
    margin-top: 0px;
    margin-bottom: 0px;
}
.autor{
    display: flex;
    text-align: center;
    justify-content: right;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-top: 20px;
    background-color: #f3f5f8;
    margin-right: 30px;
    float: right;
}
.tarjetas{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    border: 5px solid black;
    padding: 16px;
    margin: auto;
    width: 40%;
}
.bloque{
    background: #fff;
    border: 1px solid #0a0a0a;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,.12);
    padding: 12px;
    flex-basis: 200px;
    text-align: left;
    font-size: 18px;
}
.bloque_head{
    font-weight: 700;
    color: #fff;
    padding: 8px 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    text-align: center;
}
.head-html{ 
    background: #d9534f; 
} 
.head-css { 
    background: #1ba5e1; 
}
.head-js  { 
    background: #5cb85c; 
}
.fondo-html{
    background-color: #f5d9d7;
}
.fondo-css{
    background-color: #d7ebf5;
}
.fondo-js{
    background-color: #d7f5d9;
}
.resumen{
    display: flex;
    background: #fff;
    box-shadow: 0px 6px 10px black;
    padding: 10px;
    flex-basis: 200px;
    text-align: center;
    font-size: 20px;
    margin: auto;
    width: 50%;
}
